img {
    width:100%;
    height:auto;
    border-radius:8px;
}

.post-card {
    width: 100%;
    border: 1px solid #ccc!important;
    padding:14px;
    border-radius: 16px!important;
}

.post-card-cover {
    width: 100%;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px){
    .post-card {
        display: -webkit-flex;
        display: flex;
    }

    .post-card-cover {
        width: 30%;
        margin-right: 15px;
        margin-bottom: 0px;
    }

    .with-cover {
        width: 70%;
    }
}
.post-card-body a {
    text-decoration:none;
    font-family:"楷体", "微软雅黑", serif;
    font-weight: bolder;
}

.post-card-text {
    word-wrap:break-word;
}

#intro {
    /* width: 40%; */
    text-align: center;
    /* border: 1px solid #ccc!important; */
    padding:14px;
    /* border-radius: 16px!important; */
}

#intro img {
    max-width: 126px;
    min-width: 66px;
    height:100%;
    border-radius:50%;
    overflow:hidden;
}
#intro h1 {
    padding-top:14px;
    font-size:1.5em;
    height: 40%;
}
#intro p {
    display: inline;
}

/* Home Mini Post Card */
/* .home#blog {
    text-align: center;
} */
#blog {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(4, 248, 114);
    border-radius: 8px;
    text-align: center;
}

#blog #home-add-text {
    font-size: 1.2em;
    clear: left;
}

div.gallery {
    margin: 2.5%;
    border: 1px solid #ccc;
    float: left;
    width: 45%;
    padding: 5px;
    border-radius:8px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

div.desc {
    padding: 15px;
    text-align: center;
}